<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" style="color:  #FEC424;"></ion-back-button>
    </ion-buttons>
    <ion-title  style="color: #FEC424">A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
  <div style="margin-left: 3%">
  <p>
    Dans le but de répondre à tous vo besoins la Poste Tunisienne met a votre disposition une nouvelle application qui vous permettra de
  </p>
  <p>- Suivre votre compte courant.</p>
  <p>- Rechercher les bureaux de Poste ou DAB prés de votre position</p>
  <p>- Rester informer sur les horaires de travail de chaque agenc</p>
  <p>- Chercher un code postal par gouvernorat - Consulter les cours de change</p>
  </div>
</ion-content>
