ion-toolbar{
  --background:#0E1959;
}
img{
  max-width: 100%;
  border: 0;
  height: 30px;
}
table, th, td {
  border: none;
  padding:9px;
}
ion-list{
  ion-item{
    ion-label{
      font-weight: bold;
    }
    p{
      font-weight: bold;
    }

  }
}
