<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" style="color: #FEC424"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #FEC424">Mes transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
  <ion-card>
    <div style="padding: 2%;background-color: #0E1959">
      <ion-label style="color: #FEC424;font-weight: bold">Solde : <p style="color: white">{{solde}} <span style="font-weight: bold">DT</span></p></ion-label>

    </div>
  <!--  <table>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Montant</th>
      </tr>
      <tr>
        <td>05/02/2010</td>
        <td>Retrait</td>
        <td>150 DT</td>
      </tr>

    </table>-->
    <ion-list>
      <ion-item>
        <ion-label style="color: #0E1959;">Date </ion-label> <p style="color: #0E1959;">Montant</p>

      </ion-item>

      <ion-item *ngFor="let i of list_t">
        <ion-label>{{i.date}}</ion-label>
        <p style="color: #2cc158" *ngIf="i['type']=='v'">{{i.montant}}</p>
        <p style="color: salmon" *ngIf="i['type']=='r'">{{i.montant}}</p>
      </ion-item>







    </ion-list>

  </ion-card>
</ion-content>
