<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/trouver-cp"></ion-back-button>
        </ion-buttons>
    <ion-title>Détails du Code Postal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item><ion-label>Bureau de poste  {{   poste.nom  }}</ion-label></ion-item>
  <ion-item><ion-label>Code Postal  {{   poste.code_postal }}</ion-label></ion-item>
  <ion-item><ion-label>Adresse  {{ poste.adresse }}</ion-label></ion-item>
  <ion-item><ion-label>Latitude  {{   poste.lat }}</ion-label></ion-item>
  <ion-item><ion-label>Longitude  {{   poste.lng}}</ion-label></ion-item>
  <ion-item><ion-label>Horaires  {{   poste.horaires}}</ion-label></ion-item>

</ion-content>
