<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/home" style="color: #FEC424"></ion-back-button>
        </ion-buttons>
    <ion-title style="color: #FEC424">Les cours De Change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">

   <table style="width: 100%">
        <tr style="background: #0E1959;color:#FEC424">
        <th>{{today|date:'MM/dd/yyyy'}}</th>
        <th>Unité</th>
        <th>Achat</th>
        <th>Vente</th>
    </tr>
       <tr style="border-bottom: 1px solid #000;background: #EEE;" *ngFor="let c of list_c_ch">
            <td><img alt="flag" src="{{c.flag}}"></td>
            <td>{{c.Unite}}</td>
            <td>{{c.Achat}}</td>
            <td>{{c.Vente}}</td>

        </tr>

   </table>

<!--    <ion-item>-->
<!--        <ion-label>-->
<!--            Item-->
<!--        </ion-label>-->
<!--    </ion-item>-->




</ion-content>
