<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button defaultHref="/home" style="color: #FEC424;"></ion-back-button>
        </ion-buttons>
    <ion-title style="color: #FEC424">Suivre votre colis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
    <ion-card *ngIf="colie.length!=0">

        <ion-card-title>Colis Info</ion-card-title>
        <br>
        <div style="margin-left: 2%">
<ion-label>N° du colis :</ion-label> <span>{{colie[0]['code']}}</span>
        <br>
        <br>
            <ion-label>Date de dépot du colis :</ion-label> <span>{{colie[0]['date-dep']}}</span>
        <br>
        <br>
            <ion-label>Expéditeur du colis :</ion-label> <span>{{colie[0]['expediteur']}}</span>
        <br>
        <br>
            <ion-label>Recepteur du colis :</ion-label> <span>{{colie[0]['recepteur']}} </span>
        <br>
        <br>
            <ion-label>Pays de livraison :</ion-label> <span>{{colie[0]['pays-liv']}}</span>
        <br>
        <br>
            <ion-label>Code postal de  livraison :</ion-label> <span>{{colie[0]['codep-liv']}}</span>
        <br>
        <br>
            <ion-label>Adresse de  livraison :</ion-label> <span>{{colie[0]['adresse-liv']}}</span>
            <br>
            <br>
<ion-label>Disponibilté :</ion-label> <span>{{colie[0]['dispo']}}</span>
        </div>
    </ion-card>



</ion-content>
