ion-toolbar{
  --background:#0E1959;
}
ion-label{
  color: #FEC424;
  font-weight: bold;
}
span{
  color: #0E1959;
}

.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 80px;
  cursor: pointer;
}
