<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" style="color:#FEC424;"></ion-back-button>
    </ion-buttons>
    <ion-title  style="color: #FEC424">Mon espace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar style="margin: 15px auto;width: 80px;
    height: 80px;">
    <img src="{{user.picture}}" *ngIf="user['picture']">
    <img src="../../../assets/prof.png"  *ngIf="!user['picture']">

    <div class="image-upload">
    <label for="file-input" >
    <ion-icon style="    position: relative;
    bottom: 23px;
    left: 50px;
    font-size: 24px" name="camera"></ion-icon>
    </label>
    <input id="file-input" type="file" (change)="fileChangeEvent($event)"/>
    </div>
  </ion-avatar>
  <br>
  <br>
  <ion-card>
    <ion-card-title> Mes informations</ion-card-title>
    <br>
    <div style="margin-left: 2%">
      <ion-label>NOm :</ion-label> <span>{{user.nom}}</span>
      <br>
      <br>
      <br>
      <ion-label>Prenom :</ion-label> <span>{{user.prenom}} </span>
      <br>
      <br>
      <br>
      <ion-label>Date de Naissance :</ion-label> <span>{{user['date-naiss']}}</span>
      <br>
      <br>
      <br>
      <ion-label>Nationalité:</ion-label> <span>{{user["nationalité"]}}</span>
      <br>
      <br>
      <br>
      <ion-label>Gouvernant :</ion-label> <span>{{user.Gouvernant}}</span>
      <br>
      <br>
      <br>
      <ion-label>Adresse :</ion-label> <span>{{user.adresse}}</span>
      <br>
      <br>
      <br>
      <ion-label>N° teléphone :</ion-label> <span>{{user.tel}}</span>
      <br>
      <br>
      <br>
      <ion-label>Email :</ion-label> <span>{{user.mail}}</span>
    </div>
  </ion-card>


</ion-content>
