<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/trouver-cp" style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #FEC424">Détails du bureau</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
  <div style="background-color: #0E1959;padding: 1px"></div>
  <h4 style="color: black;text-decoration: underline;margin-left: 2%">A propos de Bureau :</h4>
  <div style="margin-left: 3%">
  <ion-icon name="compass"></ion-icon> &nbsp; <ion-label>{{listBP.bureau}}</ion-label>
  <br>
  <br>
  <ion-icon name="pin"></ion-icon> &nbsp; <ion-label>{{listBP.adresse}}</ion-label>
  <br>
  <br>
  <ion-icon name="mail"></ion-icon> &nbsp; <ion-label>{{listBP['code-postal']}}</ion-label>
  <br>
  <br>
  <ion-icon name="time"></ion-icon> &nbsp; <ion-label>{{listBP.horaires}}</ion-label>
  <br>
  <br>
  <ion-icon name="call"></ion-icon> &nbsp; <ion-label>{{listBP.tel}}</ion-label>
  <br>
  <br>
  <ion-icon name="print"></ion-icon> &nbsp; <ion-label>{{listBP.fax}}</ion-label>

  </div>




</ion-content>
