<ion-app>
  <ion-split-pane>
    <ion-menu >
     <!-- <ion-header>
        <ion-toolbar>

        </ion-toolbar>

      </ion-header>-->
      <ion-content>
        <img alt="background" src="../assets/icon/icon.jpg" style="width: 304px;
    height: 200px">
        <div style="padding: 5px" *ngIf="showuser">
          <p style="color: #0E1959;text-align: center"><strong > Bienvenue ,{{username}} !</strong></p>
        </div>
        <ion-list >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" >
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" style="color: #FEC424"></ion-icon>
              <ion-label style="color: #0E1959">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="showuser"  >
            <ion-item (click)="logout()" >
              <ion-icon slot="start" name="log-out" style="color: #FEC424"></ion-icon>
              <ion-label style="color: #0E1959">
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
