<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button defaultHref="/home" style="color:  #FEC424;"></ion-back-button>
        </ion-buttons>
        <ion-title  style="color: #FEC424">Contactez-vous</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
  <h5 style="margin-left: 2%" >Bureau des relations avec le Citoyen</h5>
    <br>
    <div style="margin-left: 3%">
    <ion-label>Adresse : </ion-label> <span>Rue Hédi Nouira -1030 , Tunis , Tunisie</span>
    <br>
    <br>
    <br>
    <ion-label>Numéro d'appel :</ion-label> <span>71839015 - 71839033</span>
    <br>
    <br>
    <br>
    <ion-label>Email :</ion-label> <span>br@poste.tn</span>
    </div>
</ion-content>
