<ion-header   >
	<ion-toolbar >


		<ion-buttons slot="start" >
			<ion-back-button defaultHref="/home" style="color: #FEC424"></ion-back-button>
		</ion-buttons>
		<ion-title style="text-align: center;color: #FEC424">
			Se connecter
		</ion-title>
	</ion-toolbar>

</ion-header>



<ion-content padding>


	<!--CREATIOIN-->
	<ion-card  style="margin-top: 36%">
		<!--LES TITRES-->
		<h2 style="text-align: center;text-decoration: underline;
    font-weight: bold;font-size: medium;color: #1e2023;color: white">
			Connexion
		</h2>


		<!--CONTENUE-->
		<ion-card-content>

			<!--LISTe-->
			<ion-list >
				<form [formGroup]="loginforms" >
					<ion-item>
						<ion-icon name="log-in" style="font-size: large;color: #FEC424"></ion-icon>&nbsp;
						<ion-input type="tel" placeholder="Numéro de compte" formControlName="ncpt" ></ion-input>
					</ion-item>
					<!--<p *ngIf="loginforms.get('telephone').hasError('telephone') && ( loginforms.get('telephone').touched)">
						<ion-icon name="alert"></ion-icon>&nbsp;
						Votre numer email est invalide. s'il-vous-plaît entrez une adresse valide</p>
					<p *ngIf="loginforms.get('telephone').hasError('required') && (loginforms.get('telephone').dirty || loginforms.get('telephone').touched)">
						<ion-icon name="alert"></ion-icon> Numéro de téléphone est requis</p>-->
					<!--mdp-->
					<ion-item>
						<ion-icon name="lock" style="font-size: large;color: #FEC424"></ion-icon>&nbsp;&nbsp;
						<ion-input formControlName="password" type="password" placeholder="Mot de passe" [type]="getType()"></ion-input>
						<ion-icon name="eye" item-right (click)="toggleTextPassword()" ></ion-icon>
					</ion-item>
				</form>
			</ion-list>
			&nbsp;<ion-button [disabled]="!loginforms.valid"  expand="full" size="small" id="cree" style="color: #0E1959;font-weight: bold " type="submit" (click)=" login()">Valider</ion-button>

			<!-- <h2 style="text-align: center;text-decoration: underline;
     font-weight: bold;font-size: small;color: #1e2023;color: white">
                 Connexion sociale
             </h2>-->
		</ion-card-content>

		<!--<div style="text-align: center">
        <ion-icon name="logo-facebook" style="font-size: x-large;color: white"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="logo-googleplus" style="font-size: x-large;color: white "></ion-icon>
        </div>-->

	</ion-card>

</ion-content>
