app-login {
    
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}
p{
    color: salmon;
}
ion-toolbar {
    --background: #0E1959;
}
ion-card {
    border-left: 3px solid white;
    border-bottom: 3px solid white ;
    border-top: 3px solid  white;
    border-right: 3px solid  white;
    --background: #0E1959;
}
#cree{
    --background:#FEC424;

}
#secont{
    --background:white;

}
