<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home" style="color:  #FEC424;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #FEC424">Liens utiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/icon/laposte.jpg " style="    padding: 8%;
    height: 29%;
    margin: 0px auto;
    display: table">
<!--  <div *ngFor="let l of listL">
  <h3 style="margin-left: 4%;font-size: medium;"> <strong>*</strong>&nbsp;{{l.titre}} :</h3>

  <a style="margin-left:6% " (click)="openurl(l.url)">Lien</a>


</div>-->

  <ion-item *ngFor="let l of listL;let i = index" (click)="openurl(l.url)" >
    <ion-label>Lien : {{i+1}} : {{l.titre}} </ion-label>
    <ion-icon name="arrow-dropright" slot="end"></ion-icon>
  </ion-item>


</ion-content>
