<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" *ngIf="!searchbar" >
          <ion-back-button defaultHref="/home" style="color: #FEC424"></ion-back-button>
        </ion-buttons>
    <ion-title style="text-align: center;color: #FEC424;margin-right: 20%" *ngIf="!searchbar">Localiser</ion-title>
    <ion-title style="text-align: center;color: #FEC424;" *ngIf="searchbar">filtrez vos recherches</ion-title>

      <ion-searchbar *ngIf="searchbar" showCancelButton cancelButtonText="Custom Cancel" placeholder="Chercher"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="searchbar">
<h6 style="color: #0e1959cf;margin-left: 2%">Type de bureau</h6>
        <img src="../../../assets/local-svg.png" style="width: 40px;margin-left: 2%">
        <p (click)="onBP()" style="font-weight: bold;color: #0E1959;margin-left: 14%;
    margin-top: -9%;">Bureau de Poste <ion-icon *ngIf="onbp" style="color: #2cc158" name="checkmark"></ion-icon></p>
        <img src="../../../assets/icon.png" style="width: 40px;margin-left: 2%">
        <p (click)="onDAB()" style="font-weight: bold;color: #0E1959;margin-left: 14%;
    margin-top: -9%;">DAB <ion-icon *ngIf="ondab"  style="color: #2cc158" name="checkmark"></ion-icon></p>
    </div>
    <ion-button *ngIf="searchbar" expand="full" style="color: #0E1959" (click)="search()">Valider</ion-button>
  <agm-map  [zoom]="11"
          [style.height.px]="height"

          [latitude]="lat"
          [longitude]="lng">
    <agm-marker [iconUrl]="{url:localisation, scaledSize: {height: 60,width: 60}}" [latitude]="lat" [longitude]="lng">
        <agm-info-window>
            <h1>location actuelle</h1>
        </agm-info-window>
    </agm-marker>
      ,
      <div *ngIf="listtoshow">
    <agm-marker *ngFor="let b of listfinal" [latitude]='b.lat' [longitude]="b.lng"

    [iconUrl]="{url:url, scaledSize: {height: 60,width: 60}}">
        <agm-info-window (click)="gotodetails()" style="background-color: #0E1959">
            <h3>{{b.bureau}}</h3>
            <p>{{b.adresse}}</p>
            <p>{{b['code-postal']}}</p>
            <p>{{b.gouvernorat}}</p>
        </agm-info-window>
    </agm-marker>
      </div>
      <div *ngIf="!listtoshow" >
    <agm-marker *ngFor="let b of listfinal" [latitude]='b.lat' [longitude]="b.lng"

    [iconUrl]="{url:url_dab, scaledSize: {height: 60,width: 60}}">
        <agm-info-window (click)="gotodetails()" style="background-color: #0E1959">
            <h3>{{b.adresse}}</h3>
            <p>{{b.gouvernorat}}</p>
            <p>{{b['code']}}</p>
            <p>{{b.state}}</p>
        </agm-info-window>
    </agm-marker>
      </div>


  </agm-map>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!searchbar" (click)="showsr()">
        <ion-fab-button class="buttonfab" >
            <ion-icon name="search" style="color: #0E1959"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="searchbar" (click)="hidesr()">
        <ion-fab-button class="buttonfab" >
            <ion-icon name="close" style="color: #0E1959"></ion-icon>
        </ion-fab-button>

    </ion-fab>


</ion-content>
