ion-toolbar{
  --background:#0E1959;
}
#map_canvas1{
  height: 100%;
}

.smallPanel {
  background-color:rgba(255,255,255,0.5);
  z-index: 2 !important;
}
.gm-style .gm-style-iw-c{
  background-color: #0E1959 !important;
}
ion-fab-button [middle] {
  background-color: #FF6600;
}
ion-button{
  --background: white;
}
