<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button style="color: #FEC424;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;color: #FEC424">
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <img src="../../assets/icon/laposte.jpg">
<ion-grid>
  <ion-row>
    <ion-col size="6" routerLink="/localiser">
  <ion-card>

    <ion-card-content>

        <ion-icon  name="locate" style="font-size: 64px;position: relative"></ion-icon>
     <!-- <ion-label style="margin-left: 20%">Localisation</ion-label>-->
    </ion-card-content>
    <ion-card-subtitle style="    padding: 5%;font-weight: 800;
    text-align: -webkit-center;">Localiser</ion-card-subtitle>
  </ion-card>
    </ion-col>
    <ion-col size="6" routerLink="/trouver-cp">
  <ion-card>

    <ion-card-content>

        <ion-icon  name="search" style="font-size: 64px;position: relative"></ion-icon>
     <!-- <ion-label style="margin-left: 20%">Localisation</ion-label>-->
    </ion-card-content>
    <ion-card-subtitle style="    padding: 5%;font-weight: 800;
    text-align: -webkit-center;">Chercher</ion-card-subtitle>
  </ion-card>
    </ion-col>
      <ion-col size="6" routerLink="/suivi">
  <ion-card>
<!--    <ion-card-header>

      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>-->
    <ion-card-content>

        <ion-icon  name="cube" style="font-size: 64px;position: relative"></ion-icon>
     <!-- <ion-label style="margin-left: 20%">Localisation</ion-label>-->
    </ion-card-content>
    <ion-card-subtitle style="    padding: 5%;font-weight: 800;
    text-align: -webkit-center;">Suivre </ion-card-subtitle>
  </ion-card>
    </ion-col>
    <ion-col size="6" routerLink="/cours-de-change">
  <ion-card>
<!--    <ion-card-header>

      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>-->
    <ion-card-content>

        <ion-icon  name="logo-usd" style="font-size: 64px;position: relative"></ion-icon>
     <!-- <ion-label style="margin-left: 20%">Localisation</ion-label>-->
    </ion-card-content>
    <ion-card-subtitle style="    padding: 5%;font-weight: 800;
    text-align: -webkit-center;">Consulter</ion-card-subtitle>
  </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
