.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  color:#0E1959;
  background-color: #FEC424;
}
ion-toolbar{
  --background:#0E1959;
}
ion-card{
  text-align: center;
  background-color: #0E1959 ;
  ion-icon{
    color: #FEC424;
  }
}
