ion-toolbar{
    --background:#0E1959;
}
ion-label{
    font-size: smaller;
    font-weight: bold;

}
div{
    border: solid 1px;
    border-left: none;
    border-right: none;
    border-top: none;
ion-label{
    font-weight: bold;
    color: #0E1959;
}
    p{
        font-weight: normal;
        color:#000000 ;
    }
}
ion-card-header{
    background-color: #0E1959;
    color: #FEC424;
    font-weight: bold;
    width: 111%;
    margin-left: -5%;
    margin-top: -5%;
    text-align: -webkit-center;
}
