<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button defaultHref="/home" style="color:#FEC424"></ion-back-button>
        </ion-buttons>
        <ion-searchbar animated   placeholder="Chercher" [(ngModel)]="term"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card-header>Reseau Postal</ion-card-header>
    <ion-list>
        <div *ngFor="let b of arraybp|bPS:term" (click)="gotodetails(b.id)">
            <ion-row>
                <ion-col size="4">
                    <ion-label>Bureau <p>{{b.bureau}}</p> </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label>Adresse <p>{{b.adresse}}</p> </ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label>Code postal <p>{{b['code-postal']}}</p> </ion-label>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
</ion-content>
